/.metadata/
ShopmeProject/ShopmeWebParent/ShopmeBackEnd/user-photos/*
ShopmeProject/ShopmeWebParent/category-images/*
ShopmeProject/ShopmeWebParent/brand-logo-images/*
ShopmeProject/ShopmeWebParent/product-images/*
ShopmeProject/ShopmeWebParent/site-logo/*