<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<div th:fragment="content" remove="tag">
		<div class="row" id="divProductImages">
			<div class="col border m-3 p-2">
				<div>
					<label>Main Image: [[${product.mainImage}]]</label>
				</div>
				<div class="m-2">
					<img id="thumbnail" alt="Main Image Preview" class="img-fluid" th:src="@{${product.mainImagePath}}">
				</div>
				<div>
					<input type="file" id="fileImage" name="fileImage" th:required="${product.mainImage == null}"
						accept="image/png, image/jpeg" />
				</div>
			</div>

			<th:block th:each="productExtraImage, status : ${product.images}">
				<div class="col border m-3 p-2" th:id="'divExtraImageSection' + ${status.index + 1}">
					<div>
						<label>Extra Image #[[${status.index + 1}]]: [[${productExtraImage.name}]]</label>
						<a name="linkRemoveExtraImage" class="btn fas fa-times-circle fa-2x icon-dark float-right"
							title="Remove this image"></a>
					</div>
					<div class="m-2">
						<img th:id="'extraThumbnail' + ${status.index + 1}"
							th:alt="'Extra Image #' + ${status.index + 1} + ' Preview'" class="img-fluid"
							th:src="@{${productExtraImage.extraImagePath}}">
					</div>
					<div>
						<input type="file" name="extraImage" accept="image/png, image/jpeg" />
					</div>
				</div>
			</th:block>

			<div class="col border m-3 p-2" th:id="'divExtraImageSection' + ${#lists.size(product.images) + 1}">
				<div th:id="'extraImageHeader' + ${#lists.size(product.images) + 1}">
					<label>Extra Image #[[${#lists.size(product.images) + 1}]]:</label>
				</div>
				<div class="m-2">
					<img th:id="'extraThumbnail' + ${#lists.size(product.images) + 1}"
						th:alt="'Extra Image #' + ${#lists.size(product.images) + 1} + ' Preview'" class="img-fluid"
						th:src="@{/images/MissingImage.png}">
				</div>
				<div>
					<input type="file" name="extraImage" accept="image/png, image/jpeg" />
				</div>
			</div>
		</div>
	</div>
</body>

</html>