<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head(${product.shortenedName}, 'none')}" />

<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: header_menu}" />

		<div th:if="${listCategoryAndParents != null && !listCategoryAndParents.empty}">
			<div class="row">
				<div class="col">
					<nav>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a th:href="@{/}">Home</a>
							</li>

							<th:block th:each="category : ${listCategoryAndParents}">
								<li class="breadcrumb-item">
									<a th:href="@{'/category/' + ${category.alias}}">[[${category.name}]]</a>
								</li>
							</th:block>

							<li class="breadcrumb-item">
								<span>[[${product.shortenedName}]]</span>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm">
				<div>
					<img th:src="@{${product.mainImagePath}}" class="img-fluid" />
				</div>
			</div>
		</div>

		<div th:replace="~{navigation :: footer_menu}" />
		<div th:replace="~{fragments :: footer}" />
	</div>
</body>

</html>