<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<div th:fragment="product_listing(listProducts)">
		<div class="row">
			<th:block th:each="product : ${listProducts}">
				<div class="col-sm-2">
					<div>
						<a th:href="@{'/product/' + ${product.alias}}">
							<img th:src="@{${product.mainImagePath}}" width="150px" />
							<br />
							<b>[[${product.shortenedName}]]</b>
						</a>
					</div>
					<div th:if="${product.discountPercent == 0}">
						<div th:replace="~{product/product_fragment :: display_price(${product.price})}" />
					</div>
					<div th:if="${product.discountPercent > 0}">
						<span style="font-size: larger; color: darkgreen">
							<div
								th:replace="~{product/product_fragment :: display_price(${product.discountedPrice})}" />
						</span>
						<del>
							<span>
								<div th:replace="~{product/product_fragment :: display_price(${product.price})}" />
							</span>
						</del>
					</div>
				</div>
			</th:block>
		</div>
	</div>

	<div th:fragment="display_price(price)" th:remove="tag">
		<span>
			<span th:if="${CURRENCY_SYMBOL_POSITION == 'before'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
			[[${price}]]
			<span th:if="${CURRENCY_SYMBOL_POSITION == 'after'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
		</span>
	</div>
</body>

</html>