<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head(${category.name}, 'none')}" />

<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: header_menu}" />

		<div th:replace="~{navigation :: search_form}" />

		<div th:replace="~{breadcrumb :: content}" />

		<div class="row text-center">
			<th:block th:each="child : ${category.children}">
				<div class="col" th:if="${child.enabled == true}">
					<a th:href="@{'/category/' + ${child.alias}}">
						<img th:src="@{${child.imagePath}}" height="100px" />
						<br />
						<b>[[${child.name}]]</b>
					</a>
				</div>
			</th:block>
		</div>

		<div class="row">&nbsp;</div>

		<div th:replace="~{fragments :: product_listing(${productsByCategory})}" />

		<div th:replace="~{fragments :: pagination('/category/' + ${category.alias}, 'products')}" />

		<div th:replace="~{navigation :: footer_menu}" />
		<div th:replace="~{fragments :: footer}" />
	</div>
</body>

</html>