<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head(${product.shortenedName}, 'none')}" />

<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: header_menu}" />

		<div th:replace="~{breadcrumb :: content}" />

		<div class="row">
			<div class="col-sm">
				<div>
					<img th:src="@{${product.mainImagePath}}" class="img-fluid" />
				</div>
			</div>
			<div class="col-sm">
				<div>
					<h2>[[${product.name}]]</h2>
				</div>
				<div>
					<span>Brand: [[${product.brand.name}]]</span>
				</div>
				<div>
					List Price:
					<span th:if="${product.discountPercent == 0}">$[[${product.price}]]</span>
					<del th:if="${product.discountPercent > 0}"><span>$[[${product.price}]]</span></del>
				</div>
				<div th:if="${product.discountPercent > 0}">
					Discounted Price:
					<span style="font-size: larger; color: darkgreen">$[[${product.discountedPrice}]]</span>
					([[${product.discountPercent}]]% off)
				</div>
				<div>&nbsp;</div>
				<div th:utext="${product.shortDescription}"></div>
			</div>
		</div>

		<div th:replace="~{navigation :: footer_menu}" />
		<div th:replace="~{fragments :: footer}" />
	</div>
</body>

</html>