<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Categories - Shopme Admin')" />

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu" />
		<div>
			<h1>Manage Categories</h1>
			<a th:href="@{/categories/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
			<a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
		</div>

		<div th:replace="fragments :: message_fragment" />

		<div th:replace="fragments :: search_form('/categories')" />

		<div class="full-details">
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Category Image</th>
						<th th:replace="fragments :: column_link('/categories', 'name', 'Category Name', 'none')" />
						<th class="hideable-column">Alias</th>
						<th>Enabled</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${listCategories}">
						<td>[[${category.id}]]</td>
						<td>
							<img th:replace="fragments :: category_image_fragment" />
						</td>
						<td><span th:replace="fragments :: category_name_fragment"></td>
						<td class="hideable-column">[[${category.alias}]]</td>
						<td>
							<div
								th:replace="fragments :: enabled_fragment(${category.enabled}, 'category', '/categories/' + ${category.id})" />
						</td>
						<td>
							<div th:replace="fragments :: edit_fragment('/categories', ${category.id}, 'category')" />
							&nbsp;
							<div
								th:replace="fragments :: delete_fragment('/categories', ${category.id}, 'category', ${category.hasChildren == false})" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="less-details">
			<div th:each="category : ${listCategories}" class="row m-1">
				<div class="col-4">
					<img th:replace="fragments :: category_image_fragment" />
				</div>
				<div class="col-8">
					<div th:replace="fragments :: category_name_fragment"></div>
					<div class="mt-2">
						<div
							th:replace="fragments :: enabled_fragment(${category.enabled}, 'category', '/categories/' + ${category.id})" />
						&nbsp;
						<div th:replace="fragments :: edit_fragment('/categories', ${category.id}, 'category')" />
						&nbsp;
						<div
							th:replace="fragments :: delete_fragment('/categories', ${category.id}, 'category', ${category.hasChildren == false})" />
					</div>
				</div>
			</div>
		</div>

		<div th:if="${keyword != null}" class="text-center">
			<span>Search results do not show categories in hierarchical form</span>
			<div th:replace="fragments :: pagination('/categories', 'categories')" />
		</div>
		<div th:if="${keyword == null}">
			<div th:replace="fragments :: pagination('/categories', 'top-level categories')" />
		</div>

		<div th:replace="modal_fragments :: deleteModalDialog" />

		<div th:replace="fragments :: footer" />
	</div>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				showDeleteConfirmationModalDialog(e, $(this), 'category');
			});
		});
	</script>
</body>

</html>