<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Customers - Shopme Admin', 'none')}" />

<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: menu}" />
		<div>
			<h1>Manage Customers</h1>
			<a th:replace="~{fragments :: csv_fragment('/customers')}" />
		</div>

		<div th:replace="~{fragments :: search_form('/customers')}" />

		<div th:replace="~{fragments :: message_fragment}" />

		<div>
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>
							<th th:replace="~{fragments :: column_link('/customers', 'id', 'ID', 'tag')}" />
						</th>
						<th>
							<th
								th:replace="~{fragments :: column_link('/customers', 'firstName', 'First Name', 'tag')}" />
						</th>
						<th>
							<th
								th:replace="~{fragments :: column_link('/customers', 'lastName', 'Last Name', 'tag')}" />
						</th>
						<th>
							<th th:replace="~{fragments :: column_link('/customers', 'email', 'E-mail', 'tag')}" />
						</th>
						<th>
							<th th:replace="~{fragments :: column_link('/customers', 'city', 'City', 'tag')}" />
						</th>
						<th>
							<th th:replace="~{fragments :: column_link('/customers', 'state', 'State', 'tag')}" />
						</th>
						<th>
							<th
								th:replace="~{fragments :: column_link('/customers', 'country.name', 'Country', 'tag')}" />
						</th>
						<th>
							<th th:replace="~{fragments :: column_link('/customers', 'enabled', 'Enabled', 'tag')}" />
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer : ${listCustomers}">
						<td>[[${customer.id}]]</td>
						<td>[[${customer.firstName}]]</td>
						<td>[[${customer.lastName}]]</td>
						<td>[[${customer.email}]]</td>
						<td>[[${customer.city}]]</td>
						<td>[[${customer.state}]]</td>
						<td>[[${customer.country.name}]]</td>
						<td>
							<div
								th:replace="~{fragments :: enabled_fragment(${customer.enabled}, 'customer', '/customers/' + ${customer.id})}" />
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:replace="~{fragments :: pagination('/customers', 'customers')}" />

		<div th:replace="~{fragments :: footer}" />
	</div>
</body>

</html>