<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page_head(title, remove)" th:remove="${remove}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>[[${title}]]</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
	<div th:fragment="footer" class="text-center m-3">
		<p>Shopme - Copyright &copy; Shopme Ltd.</p>
	</div>

	<div th:fragment="pagination(moduleUrl, entityName)" th:remove="tag">
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No [[${entityName}]] found</span>
		</div>
		<div th:if="${totalPages > 1}">
			<nav>
				<ul class="pagination justify-content-center flex-wrap">
					<li th:class="${pageNumber > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="~{fragments :: page_link(${moduleUrl}, 1, 'First')}" />
					</li>
					<li th:class="${pageNumber > 1 ? 'page-item' : 'page-item disabled'}">
						<a th:replace="~{fragments :: page_link(${moduleUrl}, ${pageNumber - 1}, 'Previous')}" />
					</li>
					<li th:class="${pageNumber != i ? 'page-item' : 'page-item active'}"
						th:each="i : ${#numbers.sequence(1, totalPages)}">
						<a th:replace="~{fragments :: page_link(${moduleUrl}, ${i}, ${i})}" />
					</li>
					<li th:class="${pageNumber < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="~{fragments :: page_link(${moduleUrl}, ${pageNumber + 1}, 'Next')}" />
					</li>
					<li th:class="${pageNumber < totalPages ? 'page-item' : 'page-item disabled'}">
						<a th:replace="~{fragments :: page_link(${moduleUrl}, ${totalPages}, 'Last')}" />
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<a th:fragment="page_link(moduleUrl, pageNum, label)" class="page-link"
		th:href="@{${moduleUrl} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>
</body>

</html>