<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Shopme', 'none')}" />

<body>
	<div class="container-fluid">
		<div th:replace="~{navigation :: header_menu}" />

		<div th:replace="~{navigation :: search_form}" />

		<div>
			<h1>Shop by Categories</h1>
		</div>

		<div class="row">
			<div class="col-sm-2" th:each="category : ${listCategories}">
				<div>
					<img th:src="@{${category.imagePath}}" width="100px" />
					<a th:href="@{${'/category/' + category.alias}}">[[${category.name}]]</a>
				</div>
			</div>
		</div>

		<div th:replace="~{navigation :: footer_menu}" />
		<div th:replace="~{fragments :: footer}" />
	</div>
</body>

</html>